*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-style: normal;
    line-height: normal;
    font-family: Inter, sans-serif;
}

header {
    /* Стили для хедера */
    width: 1440px;
height: 70px;
gap: 0px;
opacity: 0px;
background: #2965F1;


}

header span {
    font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;
width: 146px;
height: 24px;
top: 23px;
gap: 0px;
opacity: 0px;


    

}

.main-section {
    /* Стили для первой секции */
    width: 1440px;
min-height: 1024px;
top: 70px;
gap: 0px;
opacity: 0px;


   

    
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 552px;
height: 58px;
top: 130px;
gap: 0px;
opacity: 0px;
color: #303030;
padding: 60px 0px;
margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    width: 799px;
height: 22px;
top: 208px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#303030 ;

}

.main-image {
    /* Стили для изображения в первой секции */

    max-width: 715px;
height: 508px;
top: 230px;
left: -0px;
gap: 0px;
opacity: 0px;


}


.about-section {
    /* Стили для второй секции */
    width: 1440px;
height: 883px;
top: 1094px;
gap: 0px;
opacity: 0px;
background-color: white;
padding: 100px 0pxgi;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    height: 36px;
    top: 1194px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
 background: #FFFFFF;
 border: 1px solid #3030304D
;   
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}

.section-title {
    /* Стили для заголовков во второй секции */
  
    width: 424px;
    height: 29px;
    top: 1230px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
       


    

}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
      

}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    width: 670px;
height: 111px;
top: 1341px;
gap: 0px;
opacity: 0px;
font-weight: 400;
font-size: 16px;
padding: 40px 0px 0px 0px;

}

.label {
    /* Стили для подписей чекбоксов */
    width: Fixed (475px)px;
    height: Hug (19px)px;
    top: 1506px;
    gap: 4px;
    opacity: 0px;
    

    
    

}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 330px;
height: 36px;
top: 1525px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #3030304D;

}

.btn {
    /* Стили для кнопки */
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;    
    width: 125px;
height: 36px;
top: 1525px;
left: 339px;
gap: 0px;
border-radius: 5px ;
opacity: 0px;
background-color: #2965F1;
border: #2965F1;
padding: 5px ;
    

    
}

.line {
    /* Стили для линии */
    width: 1440px;
    height: 0px;
    top: 1621px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #3030304D   ;
    margin: 60px 0px;
}

table {
    /* Стили для таблицы */
    border: 1px ;
    width: 300px;
height: 196px;
top: 1681px;
gap: 0px;
opacity: 0px;
border-collapse: collapse;
font-size: 16px;
font-weight: 500;

}

th, td {
    /* Стили для ячеек таблицы */
    width: 300px;
    height: 40px;
    top: 1681px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #95A1BB   ;
    padding: 12px 15px;
}

footer {
    /* Стили для футера */
    width: 1440px;
height: 70px;
top: 1977px;
gap: 0px;
opacity: 0px;
background-color: #A3A7FF4D;
padding: 26px 0px;
}

.footer-link {
    /* Стили для футера */
    width: 78px;
height: 17px;
top: 2003px;
left: 1px;
gap: 0px;
opacity: 0px;
color:#2965F1 ;
font-size: ;
font-weight: ;
color: ;
text-decoration: ;
    

}